@import "tailwindcss";
@reference "tailwindcss";


@keyframes word_typing {
    from {
        content: "|";
    }
    to {
        content: ""
    }
}

.title::after {
    content: "";
    animation: word_typing 1s linear infinite;
}

#landing {
  @apply flex justify-around flex-col xl:flex-row h-dvh max-h-dvh items-center p-16 xl:p-32 duration-[0.5s]
}

#landing h1 {
  @apply text-[20px] md:text-[32px] max-w-max px-[1px] font-bold hover:bg-[#00000050] hover:text-[#ffffff] duration-[0.25s]
}

#landing p {
  @apply text-[14px] md:text-[16px]
}

#landing .line {
  @apply h-[2px] w-[140px] my-[1px] bg-black border-0
}

#landing .my_boy {
  @apply bg-[#CFCFCF] w-60 h-74 md:w-[350px] md:h-[430px] rounded-[30px] items-center overflow-clip
}

#experience {
  @apply duration-[0.5s]
}

#experience .line {
  @apply h-[2px] w-[200px] my-[1px] bg-black border-0
}

#experience h1 {
  @apply text-[20px] md:text-[32px] max-w-max px-[1px] font-bold hover:bg-[#00000050] hover:text-[#ffffff] duration-[0.25s]
}
#experience .experience {
  @apply w-max h-35 bg-gray-100 p-8 rounded-2xl border-gray-300 border-[1px] drop-shadow-black shadow-xl
}

#experience .experience .place p {
  @apply text-[12px]
}

#education {
  @apply duration-[0.5s]
}

#education .line {
  @apply h-[2px] w-[200px] my-[1px] bg-black border-0
}

#education h1 {
  @apply text-[20px] md:text-[32px] max-w-max px-[1px] font-bold hover:bg-[#00000050] hover:text-[#ffffff] duration-[0.25s]
}
#education .education .place p {
  @apply text-[12px]
}